  
body {
    background: url('images/oceanscene.png'); no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.board {
    display: grid;
    grid-template-rows: repeat(10, 10vmin);
    grid-template-columns: repeat(10, 10vmin);
    grid-gap: 0vmin;
    background-color: ;
    
}

div {
    border: 3px solid black;
    font-size: 8vmin;
    text-align: center;
    vertical-align: middle;
}