html {
    box-sizing: border-box
  }
  *::before,
  *::after { 
       box-sizing: inherit;
    }
        
body {
    background: url(/Images/updatebattleship.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: 
    "header header header aside"
    " . board board aside"
    " . board board aside";
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    overflow: hidden;
    --dark-Button-background-image: url(/Images/moon.png);
}
body.dark {
    background: url(/Images/darkbattleship.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgb(232, 230, 199);
    --dark-Button-background-image: url(/Images/sun.png);

}
header {
    grid-area: header;
    text-align: center;
    position: relative;
    top: -21%;
    right: 10%
}
#title {
    font-size: 42px;

}
aside {
    grid-area: aside
}

section.board {
   
    grid-area: board;
    align-self: stretch;
    display: grid;
    grid-template-rows: repeat(10, 6vmin);
    grid-template-columns: repeat(10, 6vmin);
    grid-gap: 0vmin;
    background: no-repeat center center fixed;
    
}

div {
    border: 3px solid black;
    font-size: 8vmin;
    text-align: center;
    vertical-align: middle;

}
#resetButton {
    position: absolute;
    bottom: 8%;
    right: 15%;
}
#ts {
    position: absolute;
    bottom: 25%;
    right: 5%;
    background-image: url(/Images/box.png);
    background-color: transparent;
    height: 64px;
    width: 64px;
    border: none;
}
#top {
    position: absolute;
    top: 1%;
    font-size: 30px;
}
#highscore {
    position: absolute;
    top: 10%
}
#directions {
    position: absolute;
    top: 22%;
    font-size: 34px;
}
#board {
    position: absolute;
    top: 30%;
    right: 55%
}
#score {
    position: absolute;
    font-size: 30px;
}
#message {
    position: relative;
    top: 15%;
    font-size: 32px;    
}
#gname {
    position: relative;
    top: -13%;
    font-size: 60px;
}
#rules {
    text-align: left;
    position: absolute;
    bottom: 67%;
    right: 3%;
    font-size: 18px;
    font-weight: 700;
}
#rules1 {
    text-align: left;
    position: absolute;
    bottom: 51%;
    right: 10%;
    font-size: 18px;
    font-weight: 500;
}
#rules2 {
    text-align: left;
    position: absolute;
    bottom: 38%;
    right: 7%;
    font-size: 18px;
    font-weight: 500;
}
#rules3 {
    text-align: left;
    position: absolute;
    bottom: 20%;
    right: 12.5%;
    font-size: 18px;
    font-weight: 500;
}
#score {
    position: absolute;
    top: 13%;
    left: 1%
}
#darkButton{
    background-image: var(--dark-Button-background-image);
    background-color: transparent;
    border: none;
    height: 64px;
    width: 64px;
    position: absolute;
    top: 3%;
    right: 32%
}
#darkButton::after {
    background-image: var(--dark-Button-background-image);
}
#highscore{
    font-size: 24px;
    position: relative;
    top: -42%;
    left: 8%;
}